@use "../../sass/base" as *;

.scoreboard {
  padding: 1.25rem;
  color: $white;
}

.swiper {
  &:hover {
    .swiper-button-next,
    .swiper-button-prev {
      opacity: 1;

      background-color: $red;
      color: $white;
      padding: 10px;
      width: 2.5rem;
      height: 2.5rem;
      border-radius: 50%;

      &:after {
        font-size: 1.25rem;
      }
    }
  }
  &-button-prev,
  &-button-next {
    opacity: 0;

    &.swiper-button-disabled {
      display: none;
    }
  }
}
