@use "../../sass/base" as *;

.schedule {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
  padding-bottom: 3rem;

  &__title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }

  &__week {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 3rem;
  }

  &__navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    width: 100%;
    height: 3rem;
  }

  .schedule-table {
    width: 80%;
    border-collapse: collapse;

    td {
      padding: 8px;
      text-align: left;
      vertical-align: middle;
    }

    &__row {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      // height: 3rem;
    }

    &__date {
      width: 20%;
    }

    &__team {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 3rem;
      width: 25%;

      font-weight: bold;

      &--home {
        justify-content: flex-end;
      }

      &--away {
        justify-content: flex-start;
      }
    }

    &__logo {
      height: 2rem;
      margin: 0 8px;
    }

    &__score {
      width: max-content;
      text-align: center;
    }

    &__details {
      display: flex;
      flex-direction: column;
      width: 20%;

      font-size: 0.8rem;
    }

    &__round {
      color: $gray-500;
    }
  }
}
