@use "../../../sass/utilities" as *;

.newsfeed-card {
  display: flex;
  width: 100%;
  margin-bottom: 1rem;
  padding: 1rem;

  &:nth-last-child(1) {
    margin-bottom: 0;
    padding-bottom: $header-height;
  }

  &__image {
    border-radius: 0.5rem;
    margin-right: 1rem;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
  }

  &__title {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
  }

  &__description {
    margin-bottom: 0.5rem;
  }

  &__link {
    align-self: flex-end;

    font-weight: 600;
    text-decoration: none;
    transition: color 0.2s;

    @include linkStyle;
  }
}
