.standings-table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;

  &__thead {
    background-color: #f4f4f4;
    font-size: 0.6875rem;
  }

  &__header {
    font-weight: bold;
    border-bottom: 2px solid #ddd;
  }

  &__row {
    &:nth-child(odd) {
      background-color: #f9f9f9;
    }
  }

  &__data {
    height: 28px;
    border-bottom: 1px solid #ddd;
    white-space: nowrap;
  }

  &__header,
  &__data {
    text-align: right;
    padding: 4px;
    width: 1.75rem;
  }

  &__header:nth-child(1),
  &__data:nth-child(1) {
    text-align: left;
    width: 9.375rem;
  }
}
