@use "../../sass/base/" as *;

.header {
  position: fixed;
  top: 0;

  width: 100%;
  height: 6.25rem;

  display: flex;

  background: $red;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  &__wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  &__logo-container {
  }

  &__img {
    width: 4.6875rem;
    height: 4.6875rem;

    &-text {
      font-size: 4rem;
      color: $white;
    }
  }
}
