@use "../../sass/base/" as *;
@use "../../sass/utilities/" as *;

.header {
  position: fixed;
  top: 0;

  width: 100%;
  height: $header-height;

  display: flex;

  background: $red;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  &__wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  &__logo {
    display: flex;
    align-items: center;

    &-img {
      width: 4.6875rem;
      height: 4.6875rem;
    }
    &-text {
      font-size: 4rem;
      color: $white;
    }
  }
}
