@use "../../sass/base" as *;
@use "../../sass/utilities/" as *;

.signup {
  width: 60%;
  margin: 6rem auto 0;
  padding-bottom: $header-height;

  &__container {
    display: flex;
    justify-content: center;
    width: -webkit-fill-available;

    margin-top: 3.125rem;
  }

  &__title {
    font-size: $heading-1-size;
    font-weight: 700;
  }

  &__avatar {
    &-image {
      max-width: 9.375rem;
      height: 9.375rem;
      border-radius: 50%;
      margin-bottom: 1.25rem;
    }
  }

  &__upload {
    display: flex;
    justify-content: center;
    gap: 1.25rem;
  }

  &__left {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    width: max-content;
  }

  &__right {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;

    width: 100%;
    padding-left: 5rem;
  }
}
