.newsfeed {
  width: 80%;
  margin: 0 auto;

  &__container {
    display: grid;
    grid-template-columns: 4fr 1fr;
    gap: 1.25rem;

    margin-top: 1.25rem;
  }

  &__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
