@use "variables" as *;

@mixin center-layout {
  max-width: $max-width;
  margin: 0 auto;
}

@mixin linkStyle {
  &:after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background: currentColor;
    transition: width 0.3s;
  }

  &:hover::after {
    width: 100%;
  }
}
